*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: 'Borel', cursive;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Work Sans', sans-serif; */
}
h1{
    text-align: center;
    margin: 30px auto;
}
.perant{
    border: 2px solid black;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-basis: 20%;

}
.child{
    border: 1px solid black;
    flex: 1;
    flex-basis: 25%;
}
.add{
    flex-basis: 50%;
}
.color{
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
}
h2{
    font-family: cursive;
    font-style: italic;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
p{
    padding: 15px 10px ;
}
.dda{
    padding: 15px;
    opacity: 0.8;
}
.color span{
    font-weight: bold;
}
.yellow{
    background-color: goldenrod;
}
.blue{
    background-color: rgba(0, 0, 255, 0.726);
}
.green{
    background-color: rgb(0, 128, 68);
}
.white{
    background-color: rgb(0, 106, 255);
}
.purple{
    background-color: rgba(128, 0, 128, 0.527);
}